<?php

global $SETTINGS;

$SETTINGS['general']['application_name'] = '';
$SETTINGS['instance']['instance_name'] = '';

$SETTINGS['path']['APPLICATION'] = str_replace( '/settings.ini.php', '', __FILE__ );
$SETTINGS['path']['PHP_UTIL'] = $SETTINGS['path']['APPLICATION'].'/../php_util';
$SETTINGS['path']['OPAL_VIEWS'] = $SETTINGS['path']['APPLICATION'].'/aux/opal_views/json';
$SETTINGS['path']['LOG_FILE'] = $SETTINGS['path']['APPLICATION'].'/log';

$SETTINGS['db']['DB_SERV'] = 'hostname';
$SETTINGS['db']['DB_USER'] = 'username';
$SETTINGS['db']['DB_PASS'] = 'userpassword';
$SETTINGS['db']['DB_NAME'] = 'databasename';

$SETTINGS['opal']['OPAL_USER'] = 'username';
$SETTINGS['opal']['OPAL_SERV'] = 'hostname';
$SETTINGS['opal']['OPAL_PORT'] = 'port';
$SETTINGS['opal']['OPAL_PASS'] = 'userpassword';
